.auth-card{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  min-height: 300px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 13px;
  box-shadow: 0px 1px 11px 0px rgba(34, 60, 80, 0.01);

  &__inner{
    margin: auto;
    display: flex;
    width: 100%;
    padding:30px;
    justify-content: center;
    flex-direction: column;
  }
  &__header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer{
    margin-top: 30px;
  }
  &__btn{
    width: 50%;
  }
}