@import "variable";

.file-grid{

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
  }
}

.file-grid-item{
  display: flex;
  &__wrapper{
    position: relative;
    width: 100px;
    margin: 10px;
    display: flex;
    height: 135px;
    border-radius: 13px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__buttons{
    position: absolute;
    top: -50px;
    z-index: 2;
    padding: 5px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    opacity: .9;
    background-color: #fff;
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-size: 13px;
    font-weight: 400;
    height: 28px;
    width: 100%;
    padding: 1px;
    line-height: 14px;
    overflow: hidden;
  }
  &:hover &__buttons{
    top: 0;
  }

}

.disk{
  display: flex;
  position: relative;
  min-height: 300px;

  &__folder-name{
    margin: 0 10px;
  }

  &__navigation{
    display: flex;
    list-style: none;
    margin: 10px 0;
    background-color: white;
    border-radius: 13px;
    border: 1px solid whitesmoke;
    padding: 10px;
  }
  &__navigation-item{
    font-size: 12px;
    display: flex;
    margin-left: 2px;
    list-style: none;
    &:before{
    content: '⊷';
    margin-left: 4px;
      font-size: 15px;
      margin-top: -3px;
      margin-right: 5px;
    color: $primary;
  }
    &:last-child{
      color: $primary;
    }
  &--first-child{
    &:before{
      content: '' !important;
    }
  }
}
  &__select{
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    color: $primary;

    &:before{
      content:'Сортировка';
      position: absolute;
      top: -20px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1140px;
    flex-direction: column;

  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__panel {
    border: 1px solid whitesmoke;
    width: 100%;
    max-width: 1140px;
    margin:0 20px 0  0;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    position: sticky;
    top:60px;
    z-index:998;
  }
  &__panel-left{
    align-items: center;
    justify-content:space-between ;
    display: flex;
  }
  &__panel-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
  }
  &__panel-right{
    display: flex;
    align-items: center;
  }
  &__panel-views{
    margin: 0 10px;
  }

  &__panel-view-btn{
    margin: 5px;
    background-color: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #cccccc;
    &:hover, &--active{
      color: #323b5a;
    }
  }

  &__panel-items{
    margin-right: 10px;
  }



}

.drag-wrapper{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index:999;
  box-sizing: border-box;
  transition: .1s;

  &__container{
    z-index: 2;
    width: 80vw;
    align-self: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 20px;
    color: #000;
    margin: 0;
    border:2px dashed #ccc;
  }

  &__icon{
    width: 80px;
  }

  &:before{
    content: "";
    background-color: #fff;
    position: fixed;
    top:100px;
    left:0;
    width:100vw;
    height: calc(100% + 100px);
    opacity: .8;
  }

}