.empty{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__image{
    width: 60px;
    text-align: center;
  }
  &__wrapper{
    opacity: .4;
    padding: 40px 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    flex-direction: column;
  }
  &__text{
    font-size: 13px;
    color: #323b5a;
    font-weight: 400;
  }
}