.error{
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  opacity: .8;
  margin: 20px;
  border-radius:13px;
  border-top: transparent;
  z-index: 999;
  overflow: hidden;
  height: 80px;
  max-width: 80%;
  transition: .1s;

  &__wrapper{
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__content{
    display: flex;
    align-items: flex-start;
    padding:0 10px;
    text-align: left;
  }

  &__title{
    font-size: 14px;
  }

  &__header{
    display: flex;
    padding:10px 20px;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }

  &__close{
    background-color: white;
    color: #b81818;
    margin-left: 20px;
    font-size: 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    &:hover{
    opacity: .9;
    }
  }
}