@import "variable";
.file{
  display: grid;
  position: relative;
  cursor: pointer;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  color: $primary;
  opacity: .9;
  transition: .4s;
  &:hover{
    opacity: 1;
    color: #3948a0;
  }
  &:hover &__icon {
    transform: scale(1.4);
  }
  &:hover &__column--edit{
    display: flex;
    width: 100px;
  }
  &__icon{
    width: 36px;
    height: 36px;
  }
  &__column{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    transition: .1s;

    &--icon{
      padding: 8px;
      height: 40px;
    }
    &--name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      grid-column-start: 2;
    }

    &--date{
      grid-column-start: 3;
      font-size: 10px;
      align-items: center;
    }
    &--size {
      grid-column-start: 4;
    }
    &--edit {
      display: none;
      position: absolute;
      right: 0;
      height: 20px;
      background-color: white;
      top: 0;
      justify-content: flex-end;
      margin: 12px;
      border-radius: 5px 0 0 5px;
      transition: .3s;

    }

  }



}