.file-list {
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    &__wrapper {
        margin: 10px;
    }
    &__column-name {
        font-size: 14px;
    }
    &__column {
        padding: 5px;
        display: flex;
        &--name {
            grid-column-start: 2;
        }
        &--date {
            grid-column-start: 3;
        }
        &--size {
            grid-column-start: 4;
        }
    }
    &__header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
        border-bottom: 1px solid whitesmoke;
    }
}