
.footer{
  margin-top: 90px;
  background-color: #fff;
  box-sizing: border-box;
  color: #454545;
  border-top: 1px solid whitesmoke;
  &__menu{
    list-style: none;

  }
  &__logo-icon{
    width: 80px;
    height: 80px;
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: 13px;
    margin: 5px;
    &:hover{
      background-color: whitesmoke;
    }
  }
  &__menu-item{
    padding: 5px;
  }
  &__wrapper{

    padding: 30px 0;
    width:100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__middle {
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right{
  flex: .5;
  }
  &__about{
    font-size: 13px;
    font-weight: 300;
  }
  &__subInfo{
    width: 100%;
    height: 40px;
    background-color: #323b5a;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
  &__submenu-link{
    color: #fff;
    &:hover{
      opacity: .9;
    }
  }
}

@media (max-width: 1000px) {
  .footer{
    &__left-side{
      width: 100%;
      padding: 20px;
      align-items: center;
      justify-content: center;
    }
    &__middle{
      flex-basis: 100%;
      padding: 20px;
    }
    &__right{
      flex-basis: 100%;
      width: 100%;
      justify-content: space-between;
    }
    &__menu{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}