.home-header{


  &__wrapper{
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 13px;
  }

  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;

    flex-direction: column;
  }


  &__media{

    transition: .4s;
    &:hover{
    }
  }
  &__titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    min-height: 100px;
    &:hover{
    }
  }
  &__icon{
    width: 100%;
    max-width: 500px;
  }
}

.tech{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__logo-icon{
    width: 130px;
    background-color: #fff;
    margin: 5px;
    border: 1px solid whitesmoke;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: .3s;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.home{

  &__section{
    margin-top: 30px;
    padding: 10px;
  }
}

.home-title{
  font-weight: 800;
  font-size: 30px;
}
.home-subtitle{
  font-weight: 400;
  font-size: 15px;
}

@media (max-width : 1000px){
  .home-header__media{
    display: none;
  }
}