@import "variable";
.form-control{
  display: flex;
  flex-direction: column;
  &__label{
    margin-top: 10px;
    color: $primary;
    font-size: .8rem;
  }
  &__input{
    height:40px;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 13px;
    outline: none;
  }
}

