.loader {
    width: 100%;
    height: 100%;
    transition: .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .1s;
        opacity: .9;
        &:hover {
            opacity: 1;
        }
    }
    &__logo {
        color: white;
        height: 100%;
        width: 20%;
        -webkit-animation: 2s linear 0s infinite alternate move_eye;
        -moz-animation: 2s linear 0s infinite alternate move_eye;
        -o-animation: 2s linear 0s infinite alternate move_eye;
        animation: 2s linear 0s infinite alternate move_eye;
    }
    &__text {
        padding: 10px;
        font-size: 12px;
        align-items: center;
        -webkit-animation: 2s linear 0s infinite alternate move_eye;
        -moz-animation: 2s linear 0s infinite alternate move_eye;
        -o-animation: 2s linear 0s infinite alternate move_eye;
        animation: 2s linear 0s infinite alternate move_eye;
    }
    @-webkit-keyframes move_eye {
        from {
            opacity: .2
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes move_eye {
        from {
            opacity: .2
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes move_eye {
        from {
            opacity: .2
        }
        to {
            opacity: 1;
        }
    }
    @keyframes move_eye {
        from {
            opacity: .2
        }
        to {
            opacity: 1;
        }
    }
}