@import "variable";

.logo{
  display: flex;
  align-items: center;
  &__icon{

    margin: 10px;
    margin-left:0px;
    width: 60px;
  }
  &__text{
    color: $title;
    font-size: 1.8rem;
    &--is-bold{
      font-weight: 800;
    }
  }
}