@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import "variable";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
button{
  outline: none;
  border: none;
}
body{
  background-color: $background;
}

a{
  text-decoration: none;
  color: $primary;
}

.row{
  display: flex;
  max-width: 1140px;
}
.app{
  display: flex;
  flex-direction: column;

}
.wrapper{
  width: 100%;
  max-width: 1140px;
  margin: auto;
  min-height: calc(100vh - 60px)
}
.wrapper__center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
}

.btn-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 &--right{
   padding: 10px;
   padding-top: 40px;

 }
  &--left{
    margin-top: 30px;
    font-size: 13px;
  }
}

.btn {
  padding: 8px 10px;
  background: $primary;
  color: #fff;
  border-radius: 13px;
  cursor: pointer;
  opacity: .9;
  height: 35px;
  transition: .3s;

  &--outlined{
    background-color: transparent;
    color: $primary;
    margin-right: 5px;
    font-size: 16px;
    border: 1px solid #e4e9ff;
    &:hover{
      background-color: #e4e9ff;
    }
  }
 &:disabled{
   background: #e2e2e2;
   color: gray;
 }
  &--full {
    width: 100%;
    min-width: 180px;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.errors-block{
  position: fixed;
  left: 40px;
  display: flex;
  flex-direction: column;
  height: 0;
  width: 400px;
  top: 60px;
  z-index: 999;
  &__wrapper{
    position: relative;
  }
}


.btnIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;

  &:hover, &--active{
    background: whitesmoke;
  }
  &__content{
    padding: 10px;
    color: $primary;
  }
}
.header-btn{
  width: 300px;
  height: 30px;
}

