@import "variable";
.navbar{
  position: sticky;
  top:0;
  z-index: 999;
  height: 60px;
  background-color: white!important;
  max-height: 60px;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0 1px 11px 0 rgba(34, 60, 80, 0.2);

  &__button{
    margin: 0 11px;
  }
  &__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
  }

  &__left, &__middle, &__right{
    display: flex; align-items: center;
  }
  &__middle{
    flex:1;
    margin: 0 30px;
    display: flex;
    align-items: center;
  }

}

.user-header{
  display: flex;
  align-items: center;

  &__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    border:1px solid whitesmoke;
  }

  &__name{
    font-size: 13px;
    color: $primary;
  }
}

.nav-menu{
  display: flex;
  list-style: none;
  flex: 1;
  height: 100%;
  min-height: 60px;
  justify-content: flex-start;
  align-items: center;

  &__item{
    align-items: center;

  }
  &__link{
    display: flex;
    align-items: center;
    height: 60px;
    padding:0 20px;
    transition: .3s;
    border-radius: 13px;

    &:hover,  .active{
      background-color: #dce5ff;
    }
  }

}

@media (max-width: 700px) {
  .user-header{
    &__name{
      display: none;
    }
  }
}