@import "variable";
.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: none;
    &--show {
        display: flex;
    }
    &:before {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        opacity: .5;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__footer {
        display: flex;
    }
    &__footer-left {
        flex: 1;
    }
    &__wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 20px;
        color: $primary;
    }
    &__close {
        color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: .8;
        transition: .1s;
        transform: rotate(5deg);
        &:hover {
            opacity: 1;
            transform: rotate(90deg);
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: 200px;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: calc(50vw - 200px);
        background-color: #fff;
        border: 1px solid whitesmoke;
        padding: 10px;
        border-radius: 13px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: auto auto;
    }
    &--center {
        display: flex;
        align-items: center;
        text-align: center;
    }
}

// mobile
@media (max-width: 400px) {
    .popup {
        &__box {
            width: 100%;
            height: 100%;
        }
    }
}