.search-box{
  display: flex;
  background-color: #f6f6f6;
  border-radius: 13px;
 align-items: center;
  border: transparent;

  &__input{
    outline: none;
    border: transparent;
    background-color: transparent;
    padding: 5px;
    padding-left: 20px;

  }

  &__icon{
    font-size: 20px;
    display: block;
    padding: 5px;
    margin-top: 5px;
    color: #323b5a;
  }

}

@media (max-width: 600px) {
  .search-box{
    position: absolute;
    background-color: transparent;
    display: none;
    &__input{

    }
    &__icon{

    }
  }
}
