@import "variable";
.uploader{
  position: fixed;
  bottom: 0px;
  right: 30px;
  width: 300px;
  height:300px;
  background-color: #fff;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: -1px -4px 8px 0px rgba(34, 60, 80, 0.06);
  -moz-box-shadow: -1px -4px 8px 0px rgba(34, 60, 80, 0.06);
  box-shadow: -1px -4px 8px 0px rgba(34, 60, 80, 0.06);
  border-radius:  13px 13px 0 0;
  z-index: 999;
  &__wrapper{

    padding: 20px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-weight: 400;
    font-size: 1rem;
  }
  &__content{
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }


  }
  &__close{
    cursor: pointer;
    &:hover{
      opacity: .9;
    }
  }
}

.upload-item{
  &__wrapper{
    margin-top: 5px;
    padding: 10px;
    border:1px solid whitesmoke;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__file-name{
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__progress-bar{
    background-color: whitesmoke;
    width: 100%;
    height: 5px;
    margin: 10px 0;
  }
  &__progressed{
    background-color: $primary;
    height: 4px;
    border-radius: 0 3px 3px 0;
    width: 0.1%;
  }
}
