.user-error{
    position: absolute;
    bottom: -64px;
    background-color: #e45252;
    width: 100%;
    border-radius: 13px;
    height: 65px;

    &__message{

        height: 66px;
        overflow: hidden;
        padding: 12px 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
    }
    &__delete{
        position: absolute;
        right: 5px;
        top:5px;
        cursor: pointer;
        opacity: .9;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #e45252;
        border: 1px solid #fff;
        border-radius: 50%;
        &:hover{
            opacity: 1;
        }
    }
    &:before{
        content: '';
        position: absolute;
        left: calc(50% - 10px);
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid #e45252;
    }
}